

<div class="scoretable">
	<table border="1px solid black">
		<tr>
			<td>Category</td>
			<td>Team Yeremee</td>
			<td>Team Andre</td>
		</tr>
		<tr>
			<td></td>
			<td><%= image_tag("kobe.jpg", :id => "kobeimg") %></td>
			<td><%= image_tag("no-image-available.png") %></td>
		</tr>
		
		<%= @categories.each do |cat| %>
			<tr>
				<td><%= cat[:category] %></td>
			</tr>
		<% end %>
	</table> 
</div>