

<div class="scoretable">
	<table border="1px solid black">
		<tr>
			<td>Category</td>
			<td>Team Yeremee</td>
			<td>Team Andre</td>
		</tr>
		<tr>
			<td></td>
			<td><%= image_tag("kobe.jpg", :class => "kobeimg") %></td>
			<td><%= image_tag("no-image-available.png") %></td>
		</tr>
		<tr>
			<td>Beer Pong (Teams)</td>
			<td>6-6</td>
			<td>6-6</td>
		</tr>
		<tr>
			<td>Beer Pong (Singles)</td>
			<td>0-2</td>
			<td>2-0</td>
		</tr>
	</table>
</div>